// Variables
@import "./theme/variables";

// Material Theme
@import "./theme/angular-material-theme.scss";

// Fonts Theme
@import "./theme/fonts.scss";

// Forms Theme
@import "./theme/forms.scss";

// Layout Component
@import "./layout.scss";

// Dashboard Component
@import "./dashboard.scss";

// Employee Component
@import "./employees-list.scss";

// Splash Component
@import "./splash.scss";

// Login Component
@import "./login.scss";

//-------- Dark Theme Custom ------------ //@include
// Side-Menu
@import "./dark/side-menu.scss";

// Dashboard
@import "./dark/dashboard.scss";

// Global Styles

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #ecf0fa;
}
hr {
  width: 100%;
}

// hiding arrows from number inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
// Scroll
::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 154, 12, 0.5);
  outline: 1px solid rgba(255, 154, 12, 0.5);
}

// JUST FOR REFERENCE
// Mobile
@media (min-width: 320px) and (max-width: 425px) {
}

// Tablet
@media (min-width: 426px) and (max-width: 768px) {
}

// Small Laptop
@media (min-width: 769px) and (max-width: 1024px) {
}

// Large Laptop
@media (min-width: 1025px) and (max-width: 1440px) {
}

// 4K
@media (min-width: 1441px) and (max-width: 2560px) {
}
