nav {
  background: linear-gradient(#ca3423 0%, #eb6b3d 100%);
  box-shadow: 0px 2px 5px rgba(211, 54, 33, 0.53);
}
.menu {
  .fa-user-circle,
  .fa-sign-out-alt,
  .fa-globe {
    color: #bcbccb;
  }
  span {
    font-size: 14px;
  }
}
button:focus {
  outline: 0 !important;
}
nav:lang(ar) {
  span {
    font-family: $arabicFont;
  }
}

nav:lang(en) {
  span {
    font-family: $regular;
  }
}
