#newEmployee {
  .routerLink {
    cursor: pointer;
  }
  form {
    mat-icon {
      color: $primary;
    }
    .btn-primary {
      font-weight: 900;
    }
  }
}

//DatePicker
.mat-datepicker-toggle-default-icon.ng-star-inserted {
  color: $primary;
}
.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px rgba(255, 157, 14, 0.87) !important;
  color: $white;
  border-color: $white;
  background: $primary;
  font-weight: 900;
}
mat-form-field,
mat-select,
.mat-radio-label-content,
.mat-radio-button {
  font-family: unset !important;
}
