.modal-dialog {
  height: 100vh;
}
.modal-content {
  height: 100%;
}
.modal-backdrop.show {
  opacity: 1 !important;
  background-color: $secondary;
}

.modal-content {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
}
.splash-text {
  .englishFont {
    font-family: $regular;
  }
  .arabicFont {
    font-family: $arabicFont;
  }
}
