<section id="dashboard" class="wow fadeIn px-lg-5 py-5">
  <div>
    <div class="p-3 text-center wow fadeInDown" data-wow-delay=".5s">
      <h2
        class="text-uppercase font-weight-bold"
        [translate]="'SIDE_MENU.DASHBOARD'"
      ></h2>
      <ng-lottie
        width="50%"
        class="d-flex justify-content-center"
        [options]="dashboardOptions"
      ></ng-lottie>
    </div>
    <div class="row w-100 mt-4 mx-0 justify-content-center align-items-start">
      <div
        style="cursor: pointer; outline: 0"
        class="col-md-4 py-5 wow fadeInLeft"
        data-wow-delay=".5s"
        routerLink="/employees"
      >
        <h3
          class="text-uppercase font-weight-bold text-center"
          [translate]="'SIDE_MENU.EMPLOYEES'"
        ></h3>
        <ng-lottie
          width="50%"
          class="d-flex justify-content-center"
          [options]="employeesOptions"
        ></ng-lottie>
      </div>
      <div
        class="col-md-4 py-5 wow fadeInDown"
        data-wow-delay=".5s"
        style="cursor: pointer; outline: 0"
        routerLink="/under-development/doctors"
      >
        <h3
          class="text-uppercase font-weight-bold text-center"
          [translate]="'SIDE_MENU.DOCTORS'"
        ></h3>
        <ng-lottie
          width="50%"
          class="d-flex justify-content-center"
          [options]="doctorsOptions"
        ></ng-lottie>
      </div>
      <div
        class="col-md-4 py-5 wow fadeInRight"
        data-wow-delay=".5s"
        style="cursor: pointer; outline: 0"
        routerLink="/under-development/nurses"
      >
        <h3
          class="text-uppercase font-weight-bold text-center"
          [translate]="'SIDE_MENU.NURSES'"
        ></h3>
        <ng-lottie
          width="50%"
          class="d-flex justify-content-center"
          [options]="nurseOptions"
        ></ng-lottie>
      </div>
    </div>
  </div>
</section>
