$english: "Poppins";
$arabic: "Cairo";

.poppins {
  font-family: $english !important;
}

.font-arabic {
  font-family: $arabic !important;
}
div:lang(en),
section:lang(en),
header:lang(en),
footer:lang(en),
nav:lang(en) {
  font-family: $english !important;
  text-align: left;

  .mx-trans-1 {
    margin-right: 0.25rem !important;
  }

  .mx-trans-2 {
    margin-right: 0.5rem !important;
  }

  .mx-trans-3 {
    margin-right: 1rem !important;
  }

  .mx-trans-4 {
    margin-right: 1.5rem !important;
  }

  .mx-trans-3 {
    margin-right: 3rem !important;
  }
}
.side-menu:lang(ar),
main:lang(ar),
header:lang(ar),
footer:lang(ar),
nav:lang(ar) {
  font-family: $arabic !important;
  text-align: right;

  .mx-trans-1 {
    margin-left: 0.25rem !important;
  }

  .mx-trans-2 {
    margin-left: 0.5rem !important;
  }

  .mx-trans-3 {
    margin-left: 1rem !important;
  }

  .mx-trans-4 {
    margin-left: 1.5rem !important;
  }

  .mx-trans-3 {
    margin-left: 3rem !important;
  }
}
