<div id="layout" dir="{{ direction$ | async }}">
  <div class="row w-100 no-gutters">
    <button #button class="bars-btn text-white" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    <div #control class="col-2 side-links">
      <div class="d-flex">
        <div class="side-menu wow fadeIn" [lang]="lang">
          <div class="logo py-5 px-2 mb-0 font-weight-bolder text-center">
            <a href="#"
              ><img
                src="../../../assets/imgs/logo.png"
                alt="logo"
                class="img-fluid"
            /></a>
          </div>
          <ul class="links px-0">
            <li routerLink="/dashborad" routerLinkActive="active">
              <a class="d-flex align-items-center p-3">
                <i class="fas fa-chart-line"></i>
                <span class="mx-2" [translate]="'SIDE_MENU.DASHBOARD'"></span>
              </a>
            </li>
            <li routerLink="/employees" routerLinkActive="active">
              <a class="d-flex align-items-center p-3">
                <i class="fas fa-users"></i>
                <span class="mx-2" [translate]="'SIDE_MENU.EMPLOYEES'"></span>
              </a>
            </li>
            <li
              routerLink="/under-development/nurses"
              routerLinkActive="active"
            >
              <a class="d-flex align-items-center p-3">
                <i class="fas fa-user-nurse"></i>
                <span class="mx-2" [translate]="'SIDE_MENU.NURSES'"></span>
              </a>
            </li>
            <li
              routerLink="/under-development/doctors"
              routerLinkActive="active"
            >
              <a class="d-flex align-items-center p-3">
                <i class="fas fa-user-md"></i>
                <span class="mx-2" [translate]="'SIDE_MENU.DOCTORS'"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <app-header></app-header>
      <main class="w-100" [lang]="lang" dir="{{ direction$ | async }}">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <footer [lang]="lang" class="text-center">
    <app-footer></app-footer>
  </footer>
</div>
<app-splash *ngIf="showSplash$"></app-splash>
