<section id="dashboard" class="wow fadeIn px-lg-5 py-5">
  <div>
    <div class="p-3 text-center">
      <h2
        class="text-uppercase font-weight-bold wow fadeInDown"
        [translate]="'UNDER_DEV.UNDER_DEV'"
      ></h2>
      <button
        style="border: 0; background: #e8663b"
        class="btn btn-primary font-weight-bold mt-4 text-uppercase"
        [translate]="'SIDE_MENU.DASHBOARD'"
        routerLink="/"
      ></button>
      <ng-lottie
        width="50%"
        class="d-flex justify-content-center"
        [options]="options"
      ></ng-lottie>
    </div>
  </div>
</section>
